{% extends 'base.html' %}

{% load static %}
{% load paginator %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'area/list.css' %}"/>
{% endblock %}

{% block content %}
    <div class="page-header">
        <h3>Управление участками</h3>
    </div>

    <div class="text-right">
        <a target="_blank" href="{% url area-print-all %}" class="btn btn-warning">Напечатать все</a>
        <a href="{% url area-new %}" class="btn btn-primary">Новый участок</a>
    </div>

    {% comment %}
    <ul class="nav nav-tabs">
        <li class="active"><a href="#">Новые</a></li>
        <li><a href="#">Архив</a></li>
    </ul>
    {% endcomment %}

    <table class="table areas-list">
        <thead>
            {% include 'areas/smart_list_header.html' %}
        </thead>

        <tbody>
        {% for area in area_list %}
            <tr>
                <td>{{ area.number }}</td>
                <td>
                    <a href="{% url area-edit area.id %}">
                        {{ area.address }}
                    </a>
                </td>

                {% comment %}
                <td>
                    <div class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Перенести</a>
                        <ul class="dropdown-menu" role="menu">
                            <li class="disabled"><a href="#">Новые</a></li>
                            <li><a href="#">Архив</a></li>
                        </ul>
                    </div>
                </td>
                {% endcomment %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% paginator %}
{% endblock %}
