<ul class="nav nav-tabs">
    {% for f in all_folders %}
        <li {% if f == folder %}class="active"{% endif %}>
            <a href="{% url folder f.id %}">{{ f.name }}</a>
        </li>
    {% endfor %}

    {% if perms.areas.add_folder or perms.areas.change_folder or perms.areas.delete_folder %}
        <li class="navbar-right {% if folder_settings %}active{% endif %}">
            <a href="{% url folders %}"><i class="glyphicon glyphicon-cog"></i></a>
        </li>
    {% endif %}

    {% if perms.areas.can_view_archive %}
        <li class="navbar-right {% if archive %}active{% endif %}">
            <a href="{% url archive %}"><i class="glyphicon glyphicon-trash"></i>&nbsp; Корзина</a>
        </li>
    {% endif %}
</ul>
