{% extends 'base.html' %}

{% load static %}
{% load paginator %}

{% block js %}
    {{ block.super }}
    <script>
        URL = {
            folder_rename: function (folder_id) {
                return '{% url folder-rename 12345 %}'.replace('12345', folder_id)
            }
        }
        csrftoken = '{{ csrf_token }}'
    </script>
    <script src="{% static 'folders/list.js' %}"></script>
{% endblock %}

{% block content %}
    {% include 'folders/folders_tabs.html' %}

    <div>
        {% if perms.areas.add_folder %}
            <form method="POST" action="{% url folder-new %}" class="folder-new-form pull-right">
                {% csrf_token %}
                <input type="hidden" name="name" />
                <a href="{% url folder-new %}" class="btn btn-primary new-folder">Новая папка</a>
            </form>
        {% endif %}

        <h3>Папки</h3>
    </div>

    <div class="clearfix"></div>

    <table class="table folders-list">
        <thead>
            <tr>
                <th>Название</th>
            </tr>
        </thead>
        <tbody>
            {% for f in folder_list %}
                {% if not f.is_inbox %}
                    <tr>
                        <td>
                            {% if f.is_inbox or not perms.areas.change_folder %}
                                {{ f.name }}
                            {% else %}
                                <a href="{% url folder-edit pk=f.id %}" class="folders-list-link">{{ f.name }} ({{ f.prefix }})</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
